/* This file is for your main application css. */

.diceroll a {
  color: #900;
  text-decoration: none;
}

.diceroll a:hover {
  color: red;
  position: relative;
}

.diceroll a[hovertitle]:hover:after {
  content: attr(hovertitle);
  padding: 4px 8px;
  color: #333;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 20;
  white-space: nowrap;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0px 0px 4px #222;
  -webkit-box-shadow: 0px 0px 4px #222;
  box-shadow: 0px 0px 4px #222;
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #cccccc));
  background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
}

.diceroll .die-selected {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow:
        0 0 5px 2px #fff,
        0 0 10px 5px #f06,
        0 0 20px 10px #000;
}

.diceroll .die-special {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow:
      0 0 5px 2px #fff,
      0 0 10px 5px #06f,
      0 0 20px 10px #000;
}

.modal-backdrop {
  background-color: rgba(0,0,0,0.9);
}

.modal-container .cancel-icon {
  color: #FF3366;
  margin-top: -10px;
}

.modal-container .fill {
  width: -webkit-fill-available
}

.modal-container .xp-available {
  font-size: 72px;
}

.modal-container .xp-available-text {
  position: relative;
  left: 30px;
  bottom: 12px;
  font-size: 30px;
}

.modal-container .custom-select {
  width: 35%;
}

.modal-container .xp-menu-item {
  margin-top: 10px;
}

.modal-container .cost-text {
  position:relative;
  top: 6px;
}

.modal-container .disallow-cost {
  color: #FF4444;
  font-weight: bolder;
}

body {
  font-family: 'PT Serif', serif;
  padding-top: 64px;
}

.interface {
  background-color: #CCCCCC;
  z-index: 1020;
}

.panic-mode {
  background-color: #EEAAAA;
}

.interface .image {
  width: 170px;
  max-width: fit-content;
}

.interface-desktop image {
  max-width: 170px;
}

.interface-phone .interface-main {
  max-width: -webkit-fill-available;
  width: inherit;
}

.interface-desktop .interface-main {
  width: inherit;
}

.interface-phone {
}

.interface-desktop {
  height: 195px;
  margin-top: 55px;
  width:inherit;
}

.interface-desktop .input-field {
  margin-left: 5px;
}

.interface .row-desktop {
  width: -webkit-fill-available;
}

.right-rail {
  width: auto;
  padding-left: 5px;
}

.right-rail .spacer-span {
  margin: 4px;
}

.right-rail .custom-select {
  margin-right: 4px;
}

.right-rail-desktop {
  height: -webkit-fill-available;
  width: auto;
}

.right-rail-desktop .right-rail-inner {
  height: 185px;
  width: -moz-max-content;
}

.right-rail-phone .right-rail-inner {
  height: auto;
}

.post-button {
  margin-bottom: 5px;
  margin-right: 10px;
}

.posts-phone {
  margin-top: 0px;
}

.posts-desktop {
  margin-top: 200px;
}

.interface img.character-image {
  margin-left: 42px;
  width: inherit;
  max-width: 100px;
  max-height: 100px;
}

.interface-desktop textarea {
  resize: none;
  width: 500px;
  height: 181px;
}

.interface-phone textarea {
  width: inherit;
  height: 200px;
}

.options-grid {
  display: grid;
}

.frontispiece {
  padding-top: 50px;
}

.archives-body {
  margin-top: 40px;
}

.post {
  background-color: #EEEEEE;
  margin: 10px;
  min-height: 70px;
}

.post .image {
  width: 160px;
  max-width: 160px;
}

.post a {
  color: #111111;
}

.post p {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.post-narrative {
  font-style: italic;
}

.post-ooc {
  background-color: #CCCCFF;
}

.post .stats {
  margin-top: 5px;
}

.dice-image {
  width: 30px;
  height: 30px;
  margin: 3px;
}

.public-description {
  padding: 50px;
}

.character-edit-numeric {
  width: 80px;
  display: inline;
  margin-left: 10px;
}

.edit-character-margin {
  margin-top: 38px;
}

.description-edit-text {
  padding-top: 10px;
}

.description-text {
  padding: 25px;
}

.right-skill-display {
  margin-right: 20px;
}

.unapproved {
  background-color: #FFAAAA
}

.identity-edit .col {
  background-color: #DDDDDD;
  padding: 5px;
  margin: 10px;
}

.identity-edit .internal {
  margin: 5px 0 5px 0;
}

.identity-edit i {
  margin-left: 8px;
  margin-right: 8px;
}

.identity-edit input[type=checkbox] {
  transform: scale(2.0);
  margin: 11px 9px 9px 9px;
}

.identity-name {
  resize: none;
  width: 170px;
}

.identity-show {
  margin: 10px;
}

.failures {
  color: #660000;
  text-shadow: 0 0 3px #FF0000;
}

img.character-image {
  margin: 3px;
}
