<p class="text-center font-italic frontispiece">
Whoever you are, no matter how lonely,<br />
the world offers itself to your imagination,<br />
calls to you like the wild geese, harsh and exciting --<br />
over and over announcing your place<br />
in the family of things.<br />
</p>
<p class="text-center">
Mary Oliver, “Wild Geese”
</p>