<div class="container mt-2">
  <div class="row">
    <div class="col">
      <img class="character-image" src="<%= @character.image_url %>" width=150>
    </div>
    <div class="col">
      <h2 class="text-uppercase"><%= @character.name %></h2>
    </div>
  </div>
  <div class="row">
    <div class="col public-description">
      <%= t(@character.public_description) %>
    </div>
  </div>
</div>
